{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "printWidth": 900,
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "ignore",
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "cursorOffset": -1,
  "objectWrap": "collapse"
}
